.feature {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    padding: 51px;

    max-width: 890px;
    width: 100%;
    height: 440px;

    background-color: hsla(0, 8%, 94%, 1);
    color: var(--color-dark);
    border-radius: 54px;
    position: relative;
}

.title {
    max-width: 363px;
}

.description {
    max-width: 321px;
}

.imageContainer {
    position: absolute;
    right: -10%;
    bottom: 0;
    height: 152%;
    width: 54%;
    z-index: 5;
    pointer-events: none;
}

.image {
    object-fit: contain;  
    object-position: center;
}