.feature {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 51px;

    max-width: 850px;
    width: 100%;
    max-height: 472px;
    height: 100%;

    background: linear-gradient(180deg, #c2fe2a 0%, #91cb00 144.92%);
    color: var(--color-dark);
    border-radius: 54px;

    position: relative;
}

.feature h2 {
    z-index: 6;
}

.description {
    max-width: 311px;
    color: var(--color-dark-opacity);
    font-family: var(--font-heading);
    font-size: 16.63px;
    font-weight: 400;
    line-height: 185%;
    z-index: 6;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 6;
}

/* 0.869 */
.imageContainer {
    position: absolute;
    right: 0;
    top: 0;
    height: 447px;
    width: 470px;
    z-index: 5;
    pointer-events: none;
}

.image {
    border-top-right-radius: 26px;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 1650px) {
    .imageContainer {
        height: 387px;
        width: 405px;
    }
}

@media (max-width: 1530px) {
    .list {
        gap: 16px;
    }

    .description {
        font-size: 14px;
        max-width: 261px;
    }
}

@media (max-width: 1440px) {
    .feature {
        padding: 40px;
    }
}

@media (max-width: 680px) {
    .feature {
        gap: 10px;
        padding: 20px;
        border-radius: 22px;
    }

    .feature h2 {
        font-size: 28.5px;
    }

    .description {
        font-size: 6.65px;
        max-width: 124px;
    }

    .list {
        gap: 8px;
    }

    .imageContainer {
        height: 290px;
        width: 304px;
    }
}

@media (max-width: 480px) {
    .imageContainer {
        width: 244px;
        height: 234px;
    }
}

@media (max-width: 430px) {
    .imageContainer {
        width: 206px;
        height: 198px;
    }
}