.footer {
    max-width: 1930px;
    padding-inline: 65px;
    width: 100%;
    color: var(--color-light);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
}

.contactNumber {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: var(--color-selector);
}

.imageContainer {
    background-color: var(--color-selector);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 9px 8px 8px 9px;
}

.burgerButton {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: auto;
    width: 230px;
}

.description {
    max-width: 800px;
    width: 100%;
    color: var(--color-description);
    text-align: center;
}

.copyRight {
    max-width: 800px;
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

@media (max-width: 1024px) {
    .footer {
        gap: 20px;
        padding-inline: 20px;
    }

    .head {
        flex-wrap: wrap;
        gap: 0px 24px;
    }

    .nav {
        order: 1;
        margin: 0 auto;
    }

    .copyRight {
        margin-top: 0;
        max-width: calc(100vw - (40px + 90px));
    }
}

@media (max-width: 768px) {
    .head {
        justify-content: center;
    }
}