.featuresSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: fit-content;
    z-index: 3;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 20px;
}

@media (max-width: 1280px) {
    .featuresSection {
        align-items: center;
    }

    .container {
        display: contents;
    }

    .container:nth-child(2) > :nth-child(1) {
        order: 1;
    }

    .container:nth-child(1) > :nth-child(1) {
        order: 1;
    }

    .container > * {
        max-width: 800px !important;
    }
}

@media (max-width: 1280px) {
    .featuresSection {
        gap: 12px;
    }
}