.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
    transition-delay: 0.2s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}
