:root {
    --font-base: 'Neue Machina';
    --font-heading: 'Montserrat';

    --color-dark: hsla(0, 0%, 0%, 0.9);
    --color-light: hsla(0, 0%, 100%, 1);
    --color-background: hsla(0, 0%, 0%, 1);
    --color-selector: hsla(77, 99%, 58%, 1);
    --color-description: hsla(0, 0%, 84%, 1);
    --color-dark-opacity: hsla(0, 0%, 0%, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-dark);
    background: var(--color-background);
    margin-bottom: 120px;
}

main {
    max-width: 1930px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.hr {
    height: 3px;
    background-color: var(--color-light);
}

/* GLOBALS */
a {
    text-decoration: none;
    color: inherit;
}

.visuallyHidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

.selector {
    color: var(--color-selector);
}

/* TEXT */
h1 {
    font-family: var(--font-base);
    font-weight: 700;
    font-size: 80px;
    line-height: 95%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

h2 {
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%;
}

h3 {
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

h4 {
    font-family: var(--font-base);
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}

h5 {
    font-family: var(--font-base);
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
}

h6 {
    font-family: var(--font-base);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

p {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 14px;
    line-height: 185%;
    letter-spacing: 0%;
}

small {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 12.6px;
    line-height: 185%;
    letter-spacing: 0%;
}

@media (max-width: 1650px) {
    h1 {
        font-size: 70px;
        line-height: 100%;
    }
}

@media (max-width: 768px) {
    body {
        margin-bottom: 40px;
    }

    h1 {
        font-size: 48px;
    }

    h3 {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 36.88px;
    }

    p {
        font-size: 8px;
    }
}

@media (max-width: 390px) {
    h1 {
        font-size: 30px;
    }
}
