* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-dark);
    background: hsla(0, 0%, 100%, 1);
    padding: 24px 16px 0 16px;
}

main {
    max-width: 1520px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.visuallyHidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}