.feature {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 51px;

    max-width: 890px;
    width: 100%;
    height: 440px;

    background-color: hsla(0, 8%, 94%, 1);
    color: var(--color-dark);
    border-radius: 54px;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
}

.title {
    max-width: 363px;
}

.description {
    max-width: 321px;
}

.imageContainer {
    position: absolute;
    right: -10%;
    bottom: 0;
    height: 152%;
    width: 54%;
    z-index: 5;
    pointer-events: none;
}

.image {
    object-fit: contain;
    object-position: center;
}

@media (max-width: 1780px) {
    .imageContainer {
        height: 140%;
    }
}

@media (max-width: 1580px) {
    .imageContainer {
        height: 124%;
    }
}

@media (max-width: 1450px) {
    .imageContainer {
        width: 58%;
        right: -15%;
        height: 134%;
    }

    .feature {
        padding: 40px;
        height: auto;
        padding-top: 70px;
    }
}

@media (max-width: 1350px) {
    .imageContainer {
        width: 58%;
        right: -15%;
        height: 125%;
    }
}

@media (max-width: 680px) {
    .feature {
        padding: 20px;
        border-radius: 22px;
        align-items: end;
    }

    .content {
        max-width: 195px;
        gap: 15px;
    }

    .title {
        font-size: 20px;
    }

    .description {
        max-width: 160px;
        font-size: 7px;
    }

    .imageContainer {
        width: 58%;
        right: 50%;
        height: 150%;
    }
}

@media (max-width: 680px) {
    .imageContainer {
        width: 58%;
        right: 55%;
        height: 150%;
    }
}

@media (max-width: 420px) {
    .imageContainer {
        width: 58%;
        right: 55%;
        height: 120%;
    }

    .content {
        align-items: end;
    }
}