.CTAButton {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 2px 2px 2px 36px;
    border-radius: 86px;
    gap: 20px;
    height: min-content;
    width: fit-content;
}

.padding {
    padding: 19.25px 62.5px;
}

.arrow {
    width: 12px;
    height: 12px;
}

/* BACKGROUND */
.basic {
    background-color: var(--color-selector);
}

.light {
    background-color: var(--color-light);
}

.dark {
    background-color: var(--color-background);
}

/* COLOR */
.lightColor {
    color: var(--color-light);
}

.darkColor {
    color: var(--color-dark);
}

/* TEXT */
.boldText {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 18px !important;
    line-height: 100%;
    letter-spacing: -1%;
}

.thickText {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 13.86px;
    line-height: 100%;
}

.imageWrapper {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.lightWrapper {
    background-color: var(--color-light);
}

.darkWrapper {
    background-color: var(--color-background);
}

/* @media (max-width: 1550px) {
    .CTAButton {
        gap: 14px;
        padding-left: 24px;
    }

    .imageWrapper {
        width: 45px;
        height: 45px;
    }

    .boldText {
        font-size: 16px;
    }
} */

@media (max-width: 680px) {
    .CTAButton {
        gap: 14px;
        padding: 1px;
        padding-left: 25px;
    }
    
    .padding {
        padding: 10.6px 25px;
    }
    
    .thickText {
        font-size: 9px;
    }

    .boldText {
        font-size: 10px !important;
    }

    .imageWrapper {
        width: 42px;
        height: 42px;
    }

    .arrow {
        width: 8px;
        height: 8px;
    }
}
