.FAQSection {
    display: flex;
    flex-direction: column;
    gap: 108px;
    margin-block: 100px 150px;
    padding-inline: 40px;
}

.titleBlock {
    max-width: 1450px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin: 0 auto;
}

.titleAndBtn {
    display: flex;
    flex-direction: column;
    max-width: 810px;
    gap: 6px;
    color: var(--color-light);
}

.withBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.description {
    max-width: 470px;
    margin-top: 20px;
    color: var(--color-description);
}

.accordionSection {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
}

.acordionBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1300px) {
    .FAQSection {
        gap: 56px;
    }

    .titleBlock h1 {
        font-size: 50px;
    }

    .description {
        margin-top: 0;
    }
}

@media (max-width: 1100px) {
    .titleBlock {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .titleAndBtn,
    .withBtn {
        display: contents;
    }

    .withBtn > :nth-child(2) {
        order: 1;
    }

    .description {
        margin-block: 20px;
        text-align: center;
    }

    .accordionSection {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .FAQSection {
        gap: 46px;
        margin-block: 60px 100px;
    }

    .titleBlock h1 {
        font-size: 30px;
    }

    .description {
        font-size: 9px;
        max-width: 400px;
        width: 100%;
        margin-block: 15px;
    }

    .accordionSection {
        flex-direction: column;
    }

    .acordionBlock {
        align-items: center;
    }
}
