.feature {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 51px;

    max-width: 890px;
    width: 100%;
    max-height: 445px;
    height: 100%;

    border-radius: 54px;
    color: var(--color-dark);
}

.titleBlock {
    max-width: 785px;
}

.titleText {
    width: fit-content;
    font-weight: 500;
}

.titleText:nth-child(2) {
    margin-left: auto;
}

.titleText:nth-child(3) {
    margin-left: 4%;
}

.description {
    max-width: 369px;
    margin-inline: 15%;
}

@media (max-width: 1850px) {
    .titleText {
        font-size: 70px;
        font-weight: 500;
    }
}

@media (max-width: 1680px) {
    .titleText {
        font-size: 60px;
    }
}

@media (max-width: 1530px) {
    .titleText {
        font-size: 50px;
    }
}

@media (max-width: 1440px) {
    .feature {
        padding: 40px;
    }
}

@media (max-width: 1280px) {
    .titleBlock {
        max-width: 560px;
    }
}