.card {
    position: relative;
    width: 100%;
    height: 670px;

    display: flex;
    flex-direction: column;
    justify-content: end;

    border-radius: 52px;
    border: 3px solid transparent;

    transition: border-color 0.4s ease;
    cursor: pointer;
}

.card:hover {
    border-color: var(--color-selector);
}

.image {
    position: absolute;
    z-index: 1;
    border-radius: 52px;
}

.info {
    position: relative;
    z-index: 2;
    border-radius: 48px;
    border: 1px solid var(--color-light);
    background-color: var(--color-background);
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px 40px 0 40px;
    transition: border-color 0.4s ease, border-width 0.4s ease;
}

.card:hover .info {
    border-color: var(--color-selector);
    border-width: 2px;
}

.text {
    color: var(--color-light);
    text-align: center;
    max-width: 345px;
    font-size: 16px;
}

.name {
    width: 71%;
    background-color: var(--color-light);
    color: var(--color-background);

    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 15px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;

    font-family: var(--font-base);
    font-weight: 400;
    font-size: 32.4px;
    line-height: 100%;

    transition: background-color 0.4s ease;
}

.card:hover .name {
    background-color: var(--color-selector);
}

.playButton {
    height: 70px;
    width: 70px;
    background-color: var(--color-light);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.4s ease;
}

.card:hover .playButton {
    background-color: var(--color-selector);
}

@media (max-width: 1700px) {
    .card {
        height: 570px;
    }

    .text {
        font-size: 14px;
    }

    .name {
        font-size: 28px;
    }
}

@media (max-width: 1500px) {
    .card {
        height: 520px;
        border-radius: 44px;
        border-width: 2px;
    }

    .info {
        padding: 40px 25px 0 25px;
        border-radius: 40px;
    }

    .card:hover .info {
        border-width: 1px;
    }

    .text {
        font-size: 12px;
    }

    .name {
        font-size: 24px;
        padding-block: 12px;
        width: 60%;
    }

    .playButton {
        width: 60px;
        height: 60px;
    }

    .playButtonImage {
        width: 22.6px;
        height: 26.6px;
    }
}

@media (max-width: 1324px) {
    .card {
        height: 450px;
    }

    .info {
        gap: 14px;
    }

    .text {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .card {
        height: 340px;
        border-radius: 25px;
    }

    .text {
        font-size: 7px;
    }

    .name {
        font-size: 18px;
        padding-block: 8px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .info {
        padding: 30px 20px 0 20px;
        border-radius: 25px;
    }

    .playButton {
        width: 37px;
        height: 37px;
        top: -17px;
    }

    .playButtonImage {
        width: 14.14px;
        height: 16.66px;
    }
}

@media (max-width: 420px) {
    .card {
        height: 300px;
    }

    .text {
        font-size: 6px;
    }
}
