.levelsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    padding: 42px;

    width: 100%;
    background-color: var(--color-background);
    border-radius: 52px;
    z-index: 3;
}

.infoBlock {
    max-width: 487px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info p {
    color: var(--color-description);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 1560px) {
    .infoBlock {
        width: 400px;
    }

    .infoBlock h3 {
        font-size: 38px;
    }

    .info p {
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    .levelsSection {
        flex-direction: column;
    }

    .infoBlock {
        align-items: center;
        max-width: 700px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 820px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .levelsSection {
        padding-inline: 24px;
    }
}

@media (max-width: 576px) {
    .infoBlock h3 {
        font-size: 30px;
    }

    .info p {
        font-size: 9px;
    }
}