.levelsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    padding: 42px;

    width: 100%;
    background-color: var(--color-background);
    border-radius: 52px;
    z-index: 3;
}

.infoBlock {
    max-width: 487px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info p {
    color: var(--color-description);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}