.secondarySlider {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    margin-top: 30px;
}

.swiperTrack {
    display: flex;
    align-items: center;
    position: relative;
}

.card {
    width: 300px;
    height: 358px;
    border-radius: 52px;

    overflow: hidden;
    position: relative;

    transition: transform 0.4s ease, filter 0.4s ease;
    transform: scale(0.8);
    z-index: 1;

    box-shadow: 4px 0px 20px 0px hsla(0, 0%, 0%, 0.4);
}

.card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.85) 70%,
        rgba(0, 0, 0, 1) 100%
    );
    pointer-events: none;
}

.card[data-pos='0'] {
    transform: scale(1.7);
    filter: brightness(1);
    border: 3px solid var(--color-light);
    z-index: 4;
}

.card[data-pos='0'] div {
    z-index: 5;
}

.card[data-pos='1'] div {
    z-index: 1;
}

.card[data-pos='2'] div {
    z-index: 1;
}

.card[data-pos='1'] {
    position: absolute;
    transform: scale(1.35) translateX(65%);
    filter: brightness(0.4);
    border: 2.4px solid var(--color-light);
    z-index: 3;
}

.card[data-pos='2'] {
    position: absolute;
    transform: scale(1.09) translateX(140%);
    filter: brightness(0.2);
    border: 2px solid var(--color-light);
    z-index: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    display: block;
}

.infoBlock {
    position: absolute;
    color: var(--color-light);
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 210px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.label {
    font-size: 12px;
}

.description {
    font-size: 10px;
    color: var(--color-description);
}

@media (max-width: 1650px) {
    .card[data-pos='0'] {
        transform: scale(1.5);
    }

    .card[data-pos='1'] {
        transform: scale(1.15) translateX(55%);
    }

    .card[data-pos='2'] {
        transform: scale(0.85) translateX(125%);
    }
}

@media (max-width: 1440px) {
    .card[data-pos='0'] {
        transform: scale(1.2);
    }

    .card[data-pos='1'] {
        transform: scale(.95) translateX(40%);
    }

    .card[data-pos='2'] {
        transform: scale(.65) translateX(111%);
    }
}

@media (max-width: 1024px) {
    .secondarySlider {
        margin-inline: 25%;
    }
}

@media (max-width: 768px) {
    .secondarySlider {
        align-self: center;
    }
}

@media (max-width: 576px) {
    .card[data-pos='0'] {
        transform: scale(1);
    }

    .card[data-pos='1'] {
        transform: scale(.8) translateX(40%);
    }

    .card[data-pos='2'] {
        transform: scale(.55) translateX(111%);
    }
}