.overlay {
    position: fixed;
    inset: 0;
    background: var(--color-background);
    z-index: 200;
    width: 100vw;
    height: 100vh;
}

.modal {
    width: 100vw;
    height: 100vh;
    padding: 26px 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.logoModal {
    width: 140px;
    position: absolute;
    top: 0;
    left: 37px;
}

.closeButton {
    max-width: 30px;
    max-height: 31px;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 37px;
    top: 5px;
    background-color: transparent;
    border: none;
    border-radius: 42px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.closeButton img {
    width: 100%;
    height: 100%;
}

@media (hover: hover) and (pointer: fine) {
    .closeButton:hover {
        background-color: rgb(58, 57, 57);
    }
}
