.header {
    max-width: 1930px;
    width: 100%;
    height: 80px;
    color: var(--color-light);
    padding-inline: 65px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0 24px;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
}

.listItem {
    text-wrap: nowrap;
}

.contactNumber {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.imageContainer {
    background-color: var(--color-light);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 9px 8px 8px 9px;
}

.burgerButton {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: auto;
    width: 230px;
}

@media (max-width: 1124px) {
    .header {
        flex-wrap: wrap;
    }

    .nav {
        margin: 0 auto;
    }

    .nav {
        order: 1;
    }
}

@media (max-width: 768px) {
    .header {
        height: auto;
        padding-inline: 40px;
    }

    .logo {
        width: 140px; 
    }
}