.header {
    max-width: 1800px;
    width: 100%;
    height: 80px;
    color: var(--color-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
}

.contactNumber {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.imageContainer {
    background-color: var(--color-light);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 9px 8px 8px 9px;
}