.header {
    width: calc(100vw - (130px));
    height: auto;
    color: var(--color-light);
    padding-inline: 65px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0 24px;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 4px;
}

.listItem {
    text-wrap: nowrap;
    padding: 20px;
    border-radius: 5px;
    transition: box-shadow 0.4s ease, backrgound-color 0.4s ease;
    cursor: pointer;
}

.listItem:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.06),
        0 12px 30px rgba(0, 0, 0, 0.6);
    background: #111;
}

.contactNumber {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contactNumber:hover {
    transform: scale(1.1);
}

.number {
    text-wrap: nowrap;
}

.imageContainer {
    background-color: var(--color-light);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 9px 8px 8px 9px;
}

.burgerButton {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: auto;
    width: 230px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

@media (max-width: 1300px) {
    .header {
        width: 100vw;
    }
}

@media (max-width: 1124px) {
    .header {
        flex-wrap: wrap;
    }

    .nav {
        margin: 0 auto;
    }

    .nav {
        order: 1;
    }
}

@media (max-width: 768px) {
    .header {
        height: auto;
        padding-inline: 40px;
    }

    .logo {
        width: 140px;
    }

    .list {
        align-items: center;
        flex-direction: column;
        padding-top: 40%;
    }
}
