.whiteSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
    gap: 100px;
    border-radius: 60px;
    background-color: var(--color-light);
    position: relative;
    overflow: hidden;
    z-index: 1;

    --y: 8%;
    --x: 6%;
    --h: 800px;
    --scale: 2;
}

.leftSpiral,
.rightSpiral {
    position: absolute;
    width: 100%;
    height: var(--h);
    z-index: 1;
    pointer-events: none;
}

.leftSpiral {
    bottom: var(--y);
    right: var(--x);
    transform: scale(var(--scale));
}

.rightSpiral {
    bottom: var(--y);
    left: var(--x);
    transform: scale(var(--scale));
}

.leftSpiral img,
.rightSpiral img {
    object-fit: contain;
}

@media (max-width: 1870px) {
    .whiteSection {
        --h: 775px;
        --y: 6%;
        --x: 5%;
    }
}

@media (max-width: 1670px) {
    .whiteSection {
        --h: 705px;
        --scale: 1.8;
    }
}

@media (max-width: 1520px) {
    .whiteSection {
        --h: 685px;
        --y: 5%;
    }
}

@media (max-width: 1450px) {
    .whiteSection {
        padding: 60px 40px;

        --h: 665px;
        --y: 4%;
    }
}

@media (max-width: 1360px) {
    .whiteSection {
        --h: 645px;
        --y: 3%;
    }
}

@media (max-width: 1280px) {
    .whiteSection {
        --h: 625px;
        --y: 2%;
    }
}

@media (max-width: 768px) {
    .whiteSection {
        padding: 60px 26px;
        gap: 60px;
    }
}
