.sliderContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
}

.sliderTrack {
    display: flex;
    position: relative;
}

.card {
    transition: transform 0.4s ease, filter 0.4s ease;
    filter: brightness(0.2);
    transform: scale(0.8);
    z-index: 1;
    max-width: 506px;
    width: 100%;
    max-height: 240px;
    height: auto;
    border: 3px solid var(--color-light);
    border-radius: 56px;
}

.card[data-pos='0'] {
    transform: scale(1);
    filter: brightness(1);
    z-index: 3;
}

.card[data-pos='1'] {
    position: absolute;
    transform: scale(1) translateX(13%);
    filter: brightness(0.5);
    z-index: 2;
}

.card[data-pos='2'] {
    position: absolute;
    transform: scale(1) translateX(26%);
    filter: brightness(0.4);
    z-index: 1;
}

.card img {
    display: block;
    pointer-events: none;
    max-width: 500px;
    width: 100%;
    max-height: 236px;
    height: auto;
}

.fullImage {
    border: none;
    border-radius: 50px;
    min-width: 504.8px;
}

.cardLabel {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 0.31vw 0.83vw;
    border-radius: 0.62vw;
    font-weight: 500;
    font-size: 0.9vw;
}

.sliderButton {
    position: absolute;
    left: 113%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-light);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.sliderButton:hover {
    background-color: #9a9292;
}

.sliderButton img {
    width: 15px;
    height: min-content;
}

@media (max-width: 1650px) {
    .card {
        max-width: 450px;
    }

    .fullImage {
        min-width: 450px;
    }
}

@media (max-width: 1440px) {
    .sliderContainer {
        z-index: 6;
    }
}

@media (max-width: 1240px) {
    .sliderContainer {
        margin-right: 12%;
    }
}
