.studentsSection {
    margin-block: 150px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleText {
    color: var(--color-light);
    text-align: center;
    width: fit-content;
}

.description {
    max-width: 570px;
    text-align: center;
    color: var(--color-description);
    font-size: 14px;
    margin: 0 auto;
    margin-block: 24px 48px;
}

@media (max-width: 768px) {
    .studentsSection {
        margin-block: 60px;
    }

    .description {
        font-size: 9px;
        max-width: calc(100vw - (40px + 80px));
    }
}