.listItem {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.checkMark {
    width: 23.76px;
    height: 23.76px;
    background-color: var(--color-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkMarkDark {
    background-color: var(--color-background);
}

.liText {
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 21.38px;
}

.liTextDark {
    color: var(--color-dark);
}

@media (max-width: 1530px) {
    .liText {
        font-size: 18px;
    }
}