.advantagesSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 13vw;
    margin-top: 160px;
    color: var(--color-light);
    padding-inline: 80px;
    overflow: hidden;
    padding-bottom: 50px;
    position: relative;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.title {
    max-width: 648px;
    margin-left: 16%;
}

.swiperAndDescription {
    display: flex;
    flex-direction: row;
    gap: 124px;
}

.description {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: fit-content;
    width: fit-content;
}

.button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;

    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgImage {
    z-index: -1;
}

@media (max-width: 1650px) {
    .advantagesSection {
        gap: 6vw;
    }
}

@media (max-width: 1440px) {
    .mainBlock {
        gap: 24px;
    }

    .title {
        max-width: 450px;
        margin-left: 7%;
        text-align: center;
    }

    .swiperAndDescription {
        gap: 64px;
    }
}

@media (max-width: 1280px) {
    .mainBlock {
        align-items: center;
    }

    .title {
        margin-left: 0;
    }

    .description {
        align-items: center;
    }

    .description p {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .advantagesSection {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .advantagesSection {
        margin-top: 48px;
    }

    .mainBlock {
        gap: 15px;
    }
}