.accordion {
    border: 1px solid hsla(0, 0%, 100%, 0.7);
    border-radius: 52px;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 850px;
}

.questionBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light);
    padding-inline-start: 38px;
    border-radius: 52px;
}

.question {
    max-width: 420px;
    font-weight: 600;
}

.icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-selector);

    aspect-ratio: 1;
    transform: rotate(-90deg);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.answerWrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.35s ease;
}

.answerWrapper > p {
    overflow: hidden;
}

.open {
    grid-template-rows: 1fr;
    padding: 44px 45px;
}

.answer {
    color: var(--color-light);
}

@media (hover: hover) and (pointer: fine) {
    .acordion:hover {
        background-color: var(--color-hover-light);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    }
}

@media (max-width: 768px) {
    .acordion {
        padding: 24px;
        border-radius: 24px;
    }
}
