.accordion {
    border: 1px solid hsla(0, 0%, 100%, 0.7);
    border-radius: 52px;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 850px;
}

.questionBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light);
    padding-inline-start: 38px;
    border-radius: 52px;
}

.question {
    max-width: 420px;
    font-weight: 600;
}

.icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-selector);

    aspect-ratio: 1;
    transform: rotate(-90deg);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.answerWrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.35s ease;
}

.answerWrapper > p {
    overflow: hidden;
}

.open {
    grid-template-rows: 1fr;
    padding: 44px 45px;
}

.answer {
    color: var(--color-light);
}

.image {
    width: 20px;
    height: 20px;
}

@media (max-width: 1300px) {
    .question {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .accordion {
        border-radius: 26px;
        width: 100%;
        max-width: 450px;
    }

    .questionBlock {
        border-radius: 26px;
    }

    .question {
        font-size: 12px;
    }

    .answer {
        font-size: 6px;
    }

    .open {
        padding: 12px 19px 17px 19px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .arrow {
        width: 11px;
        height: 11px;
    }

    .image {
        width: 12px;
        height: 12px;
    }
}
