/* SWIPER */
.swiper {
    perspective: 1200px !important;
}

:global(.swiper-wrapper) {
    transform-style: preserve-3d !important;
}

/* Правый */
:global(.swiper-slide) {
    transition: transform 0.5s ease, opacity 0.5s ease !important;
    transform: rotateY(-30deg) translateZ(40px) translateX(-10px) scale(1) !important;
}

/* Левый */
:global(.swiper-slide-active) {
    transform: rotateY(30deg) translateZ(40px) translateX(10px) scale(1) !important;
}

/* Левый центр */
:global(.swiper-slide-next) {
    transform: rotateY(0deg) translateZ(0) scale(1) !important;
}

/* Правый центр */
:global(.swiper-slide-next + .swiper-slide) {
    transform: rotateY(0deg) translateZ(0) scale(1) !important;
}

/* MASK */
.swiper::before,
.swiper::after {
    content: '';
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 0.7) 40%,
        rgba(0, 0, 0, 0) 100%
    );
}

.swiper::before {
    left: 0;
}

.swiper::after {
    right: 0;
    transform: scaleX(-1);
}

/* PAGINATION */
:global(.swiper-pagination) {
    position: relative;
    margin-top: 40px;
}

:global(.swiper-pagination-bullet) {
    width: 10px;
    height: 10px;
    background: #666;
    opacity: 1;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 80px;
}

.bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--color-light);
    background: transparent;
    cursor: pointer;
}

:global(.swiper-pagination-bullet-active) {
    background: var(--color-light);
}

@media (max-width: 1120px) {
    .swiper::before,
    .swiper::after {
        width: 0;
        height: 0;
    }

    /* Левый */
    :global(.swiper-slide-active) {
        transform: rotateY(0deg) translateZ(0px) translateX(0px) scale(1) !important;
    }

    .swiper {
        padding: 0 20px;
    }

    .pagination {
        margin-top: 40px;
        gap: 8px;
    }

    .bullet {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 460px) {
    .swiper {
        padding-inline: 0;
    }

    .pagination {
        margin-top: 40px;
        gap: 16px;
    }

    .bullet {
        width: 11px;
        height: 11px;
    }
}
