.feature {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 51px;

    max-width: 850px;
    width: 100%;
    max-height: 472px;
    height: 100%;

    background: linear-gradient(180deg, #c2fe2a 0%, #91cb00 144.92%);
    color: var(--color-dark);
    border-radius: 54px;
}

.description {
    max-width: 311px;
    color: var(--color-dark-opacity);
    font-family: var(--font-heading);
    font-size: 16.63px;
    font-weight: 400;
    line-height: 185%;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 1530px) {
    .list {
        gap: 16px;
    }

    .description {
        font-size: 14px;
        max-width: 261px;
    }
}

@media (max-width: 1440px) {
    .feature {
        padding: 40px;
    }
}